.main {
  width: 100%;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: row;
}

.image {
  cursor: pointer;
  margin: 0 10px;
  box-sizing: border-box;
  width: 104px;
  height: 104px;
  border: 2px solid transparent;

  &:hover {
    border-color: palevioletred;
  }

  img {
    width: 100%;
    height: 100%;
  }
}